{
  "openapi": "3.1.0",
  "info": {
    "title": "Post Social API",
    "version": "0.1.0",
    "description": "Create, approve, schedule, and inspect social posts through the same approval engine used by the Post Social web app."
  },
  "servers": [
    {
      "url": "https://vibrant-donkey-218.convex.site/api/v1",
      "description": "Production API"
    }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List connected social accounts",
        "description": "Connected TikTok accounts include freshly queried creatorInfo. Copy its checkedAt, limits, and privacy choices into a TikTok draft; if creatorInfoError is present, do not submit that destination.",
        "responses": {
          "200": { "description": "Connected accounts" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/posts": {
      "get": {
        "operationId": "listPosts",
        "summary": "List recent posts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": {
          "200": { "description": "Recent posts" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createPostDraft",
        "summary": "Create a post draft",
        "description": "Destination settings and the effective workspace/account approval policy are validated when the draft is created.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateDraft" }
            }
          }
        },
        "responses": {
          "200": { "description": "Draft created" },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/posts/{postId}": {
      "get": {
        "operationId": "getPost",
        "summary": "Get a post, approvals, destinations, and results",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Post detail" },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/media/upload": {
      "post": {
        "operationId": "uploadMedia",
        "summary": "Start or finalize a media upload",
        "description": "Call without storage_id to receive a signed upload URL. POST the file to that URL, then call again with the returned storage_id and file metadata.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UploadMedia" }
            }
          }
        },
        "responses": {
          "200": { "description": "Upload URL or finalized media id" },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/schedule": {
      "post": {
        "operationId": "schedulePost",
        "summary": "Set a future time on a draft",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SchedulePost" }
            }
          }
        },
        "responses": {
          "200": { "description": "Schedule saved" },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/publish": {
      "post": {
        "operationId": "publishPost",
        "summary": "Enter the approval and publishing flow",
        "description": "Confirm-each and approve-after-draft policies create a pending human approval. Autonomous policy queues delivery immediately.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostReference" }
            }
          }
        },
        "responses": {
          "200": { "description": "Approval or publishing state" },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/cancel": {
      "post": {
        "operationId": "cancelScheduledPost",
        "summary": "Cancel a scheduled or approval-pending post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PostReference" }
            }
          }
        },
        "responses": {
          "200": { "description": "Post cancelled" },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Post Social API key"
      }
    },
    "responses": {
      "Unauthorized": { "description": "Missing, invalid, or revoked API key" },
      "InvalidRequest": { "description": "The request failed validation" }
    },
    "schemas": {
      "PostReference": {
        "type": "object",
        "required": ["post_id"],
        "properties": { "post_id": { "type": "string" } }
      },
      "SchedulePost": {
        "type": "object",
        "required": ["post_id", "scheduled_at"],
        "properties": {
          "post_id": { "type": "string" },
          "scheduled_at": {
            "type": "number",
            "description": "Future Unix timestamp in milliseconds"
          }
        }
      },
      "UploadMedia": {
        "type": "object",
        "properties": {
          "storage_id": { "type": "string" },
          "file_name": { "type": "string" },
          "mime_type": { "type": "string" },
          "media_type": { "enum": ["image", "video"] },
          "size_bytes": { "type": "number" },
          "duration_seconds": { "type": "number" },
          "width": { "type": "number" },
          "height": { "type": "number" }
        }
      },
      "TikTokDestination": {
        "type": "object",
        "required": ["connectedAccountId", "options"],
        "properties": {
          "connectedAccountId": {
            "type": "string",
            "description": "A connected TikTok account id returned by GET /accounts."
          },
          "options": {
            "type": "object",
            "required": [
              "kind",
              "privacyLevel",
              "commentEnabled",
              "duetEnabled",
              "stitchEnabled",
              "disclosureEnabled",
              "yourBrandEnabled",
              "brandedContentEnabled",
              "creatorInfoCheckedAt",
              "creatorInfoSnapshot"
            ],
            "properties": {
              "kind": { "const": "tiktok" },
              "privacyLevel": {
                "type": "string",
                "description": "One current creatorInfo.privacyLevelOptions value. Never hardcode a default."
              },
              "commentEnabled": { "type": "boolean" },
              "duetEnabled": { "type": "boolean" },
              "stitchEnabled": { "type": "boolean" },
              "disclosureEnabled": { "type": "boolean" },
              "yourBrandEnabled": { "type": "boolean" },
              "brandedContentEnabled": { "type": "boolean" },
              "aiGenerated": { "type": "boolean" },
              "creatorInfoCheckedAt": {
                "type": "number",
                "description": "Copy checkedAt from the latest account creatorInfo response."
              },
              "creatorInfoSnapshot": {
                "type": "object",
                "required": [
                  "nickname",
                  "maxVideoDurationSec",
                  "canPost",
                  "privacyLevelOptions",
                  "commentAvailable",
                  "duetAvailable",
                  "stitchAvailable"
                ],
                "properties": {
                  "nickname": { "type": "string" },
                  "maxVideoDurationSec": { "type": "number" },
                  "canPost": { "type": "boolean" },
                  "privacyLevelOptions": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "commentAvailable": { "type": "boolean" },
                  "duetAvailable": { "type": "boolean" },
                  "stitchAvailable": { "type": "boolean" }
                }
              }
            }
          }
        }
      },
      "InstagramDestination": {
        "type": "object",
        "required": ["connectedAccountId", "options"],
        "properties": {
          "connectedAccountId": {
            "type": "string",
            "description": "A connected Instagram account id returned by GET /accounts."
          },
          "options": {
            "type": "object",
            "required": ["kind", "mediaType"],
            "properties": {
              "kind": { "const": "instagram" },
              "mediaType": { "enum": ["image", "reel", "carousel"] },
              "caption": { "type": "string" }
            }
          }
        }
      },
      "FacebookDestination": {
        "type": "object",
        "required": ["connectedAccountId", "options"],
        "properties": {
          "connectedAccountId": {
            "type": "string",
            "description": "A connected Facebook Page id returned by GET /accounts."
          },
          "options": {
            "type": "object",
            "required": ["kind", "mediaType"],
            "properties": {
              "kind": { "const": "facebook" },
              "mediaType": { "enum": ["feed", "image", "video"] },
              "message": { "type": "string" }
            }
          }
        }
      },
      "ThreadsDestination": {
        "type": "object",
        "required": ["connectedAccountId", "options"],
        "properties": {
          "connectedAccountId": {
            "type": "string",
            "description": "A connected Threads account id returned by GET /accounts."
          },
          "options": {
            "type": "object",
            "required": ["kind", "mediaType", "text"],
            "properties": {
              "kind": { "const": "threads" },
              "mediaType": { "enum": ["text", "image"] },
              "text": { "type": "string", "maxLength": 500 }
            }
          }
        }
      },
      "CreateDraft": {
        "type": "object",
        "required": ["caption", "media_asset_ids", "destinations"],
        "properties": {
          "caption": { "type": "string", "maxLength": 10000 },
          "media_asset_ids": { "type": "array", "items": { "type": "string" } },
          "scheduled_at": { "type": "number" },
          "destinations": {
            "type": "array",
            "minItems": 1,
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/TikTokDestination" },
                { "$ref": "#/components/schemas/InstagramDestination" },
                { "$ref": "#/components/schemas/FacebookDestination" },
                { "$ref": "#/components/schemas/ThreadsDestination" }
              ]
            }
          }
        }
      }
    }
  }
}
